# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/sln/Interpretator/.vs
sln/Interpretator/Interpretator.vcxproj
sln/Interpretator/Interpretator.vcxproj.filters
sln/Interpretator/Interpretator.vcxproj.user
sln/Interpretator/x64/Debug/Interpretator.exe.recipe
/sln/Interpretator/x64
.DS_Store
~$чет_лабораторная_Интерпретатор_Загрядсков_Максим_Болтенков_Станислав_3823Б1ПМ1_1.docx
/picture
~$Презентация_лабораторная_Интерпретатор_Загрядсков_Максим_Болтенков_Станислав_3823Б1ПМ1_1.pptx
